body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-image: url('https://png.pngtree.com/background/20220729/original/pngtree-wave-background-vector-wallpaper-picture-image_1874512.jpg');
	background-size: cover;
}
